@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans:wght@400;700&display=swap");

@font-face {
  font-family: "Avenir";
  src: url("fonts/Avenir-Heavy.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}

/* Base */

html,
body {
  overflow-x: hidden;
}

body {
  margin: 0;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  font-family: "Noto Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: 50px;
}

p {
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

a:active {
  opacity: 1;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header */

.header__container {
  display: flex;
  align-items: center;
  gap: 110px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__login {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: underline;
}

/* Welcome */

.welcome {
  padding-bottom: 50px;
}

.welcome__container {
  position: relative;
}

.welcome__container::after {
  content: "";
  width: 660px;
  height: 790px;
  position: absolute;
  right: -170px;
  top: -240px;
  z-index: -10;
  transform: rotate(-105deg);
  background-image: url("./img/bg-welcome.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.welcome__row {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  min-height: 700px;
}

.welcome__title {
  margin-bottom: 130px;
  font-size: 64px;
  line-height: 1.09;
}

.welcome__text {
  position: relative;
  padding-left: 130px;
  width: 380px;
  font-size: 20px;
}

.welcome__text::before {
  content: "";
  width: 125px;
  height: 125px;
  position: absolute;
  left: 20px;
  top: -80px;
  z-index: -10;
  background: rgba(96, 92, 234, 0.5);
  filter: blur(50px);
  animation: lighter 2s infinite alternate;
}

@keyframes lighter {
  0% {
    background: rgba(96, 92, 234, 0.3);
  }
  100% {
    background: rgba(96, 92, 234, 0.7);
  }
}

.welcome__text::after {
  content: "";
  position: absolute;
  left: 0;
  top: 25px;
  z-index: -5;
  width: 130px;
  height: 4px;
  background-color: #fff;
  transform: rotate(120deg);
}

.welcome__img {
  width: 600px;
  position: absolute;
  right: -30px;
  top: -140px;
  z-index: -5;
}

.welcome__cta {
  padding-right: 60px;
}

.cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cta__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 35px;
}

.cta__links {
  display: flex;
  gap: 30px;
}

/* Mission */

.mission {
  padding: 150px 85px;
  position: relative;
}

.mission__img {
  position: absolute;
  top: 0;
  right: 50%;
  z-index: -1;
  transform: rotate(90deg) translate(-43%);
}

.mission__desc {
  width: 320px;
  margin-left: auto;
}

.mission__title {
  margin-bottom: 30px;
  position: relative;
}

.mission__title::after {
  content: "";
  position: absolute;
  right: 55px;
  top: 7px;
  z-index: -1;
  width: 85px;
  height: 85px;
  background: #f101bf;
  opacity: 0.7;
  filter: blur(50px);
}
